* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "RobotoCondensed",system-ui;
  min-height: 100vh;
  padding:20px ;
  background: url(./green-back.webp) no-repeat center center #000;
  color: #0f0;
  text-shadow: 0px 0px 10px #0f0;
}


.main {


}